# Database
# PostgreSQL (anbefalt for produksjon):
DATABASE_URL="postgresql://postgres:password@localhost:5432/prismatch_kalkulator"

# SQLite (alternativ for lokal utvikling - endre også prisma/schema.prisma provider til "sqlite"):
# DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
# Generer med: openssl rand -base64 32
NEXTAUTH_SECRET="din-hemmelige-noekkel-her-minst-32-tegn"
